<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.oscroll.archetypes"/>
        <listEntry value="archetypeArtifactId=springboot-archetype"/>
        <listEntry value="archetypeVersion=1.0.0"/>
        <listEntry value="groupId=SpringDec"/>
        <listEntry value="artifactId=demo"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=SpringDec.demo"/>
        <listEntry value="outputDirectory=/Users/praveenkumar/Documents/workspace1/springBoot_Decryption"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/dk/hj9x26qs4nzg7kr7v6rhmhgc0000gn/T/m2e-archetypeGenerator11610355089625656704"/>
</launchConfiguration>
